/*
Theme Name:	 	Nooijen Web Solutions (child)
Theme URI:		https://www.nooijensolutions.nl
Description:	GeneratePress child theme for the Nooijen Solutions framework
Author:			Nooijen Solutions
Author URI:	 	https://www.nooijensolutions.nl
Template:		generatepress
Version:		1.0
*/

/* CSS included by framework*/
.comments-area {
	display: none;
}
#masthead {
	display:none;
}
h1.entry-title {
	display: none;
}
#content {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
#main {
	margin-top: -35px;
}
#footer-widgets {
	padding-bottom: 5px;
}
footer.site-info {
	padding-top: 15px;
}

	
/* Custom CSS below */
.main-navigation li > a {
	transition: all 0.2s ease !important;
} 
.main-navigation li[class*="current-menu-"] > a::after, 
.main-navigation li > a:after {
    content: '';
    width: 100%;
    height: 4px;
    background: #14148D;
    position: absolute;
    left: 0;
    bottom: 0;
}
.main-navigation li > a:after{
    opacity: 0;
    transition: all 0.3s ease-out;
}
.main-navigation li[class*="current-menu-"] > a::after,
.main-navigation li > a:hover:after {
    opacity: 1;
}
